* {
    box-sizing: border-box;  /* quando utilizar padding ou border, não aumentará o tamanho do meu box */
}

:root {
    font-size: 62.5%; /* Ajustando as medidas para o projeto obter tamanho da fonte exata. */

    --primary: #0B498F;
    --gray-100: #C4C4C4;
    --gray-200: #00000080;
    --black: #000000;
    --white: #FFFFFF;
    
    scroll-behavior: smooth; /* Corrigindo: -webkit-font-smoothing: antialiased; */
}

body {
    font-size: 1.6rem; /* Voltando o projeto para 16px de tamanho por padrão. */
    font-family: 'Poppins', sans-serif;
}

.header,
.presentation,
.about-us,
.services,
.information,
.footer {
    max-width: 120rem; /* limitando o conteúdo até 1200px  */
    margin: 0 auto; /* centralizando o layout */
    padding: 0 3rem; /* limitando todos os conteúdos nas laterais */
}

.about-us,
.services,
.information__container,
.footer {
    margin-top: 8rem;
}

/* HEADER */

.header {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 11.6rem;
}

.header__button {
    text-decoration: none;
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    width: 13rem;
    height: 3.2rem;
    font-size: 1rem;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.header__button:hover {
    background-color: var(--primary);
    color: var(--white);
}

/* PRESENTATION */

.presentation {
    margin-top: 6.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__title {
    font-size: 2rem;
    color: var(--primary);
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
}

.presentation__text {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--gray-200);
    text-align: center;
}

.presentation__button {
    margin-top: 4rem;
    background-color: var(--primary); 
    text-decoration: none;
    border: 2px solid var(--primary);
    border-radius: 0.8rem;
    width: 22.5rem;
    height: 5.7rem;
    font-size: 1.4rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 250ms;
}

.presentation__button:hover {
    filter: brightness(1.2);
}

.presentation__image {
    margin-top: 4rem;
    max-width: 26.2rem;
}

/* ABOUT-US */

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__tag {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--gray-100);
    /* 
    Toda tag <span> vem contido em um display: inline; ou seja uma caixinha fechada. 
    Utilizamos display: block; para que a caixinha comporte-se como um bloco aberto.
    */
    display: block;
    text-align: center;  /* Com o display: block; o text-align funciona */
}

.about-us__title {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    color: var(--primary);
}

.about-us__word {
    color: var(--gray-100);
}

.about-us__text {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
    color: var(--gray-200);
}

.about-us__image {
    margin-top: 5rem;
    max-width: 27.4rem;
}

/* SERVICES */

.services__tag {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--gray-100);
    display: block;
    text-align: center;
}

.services__title {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    color: var(--black);
}

.services__itens {
    margin-top: 4rem;
}

.services__itens-image {
    display: block; /* Para tirar da caixinha fechada lembra? */
    margin: 0 auto 2rem auto;
    max-width: 6.6rem;
}

.services__itens-text {
    display: block;
    text-align: center;
}

/* INFORMATION */

.information__container {
    background-color: #c4c4c40F;
    padding: 3rem 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information__tag {
    display: block;
    font-size: 1.8rem;
    color: var(--gray-100);
}

.information__text {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;
    color: var(--primary);
}

.information__button {
    display: block;
    margin-top: 1.5rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 13.5rem;
    height: 3.8rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 0.5rem;
}

.informmation__image {
    margin-top: 4.8rem;
    max-width: 23.9rem;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
}

.footer__logo {
    width: 12rem;
}

.footer__text {
    margin-top: 3.2rem;
    font-size: 1.4rem;
    color: var(--gray-200);
}

@media (min-width: 768px) {

    /* presentation */
    
    .presentation {
        flex-direction: row;
    }

    .presentation__container {
        align-items: flex-start;
        margin-right: 15rem;
        
    }

    .presentation__title {
        text-align: left;
        font-size: 2rem;
    }
    
    .presentation__text {
        text-align: left;
    }

    .presentation__image {
        margin-top: 0;
    }

    /* about-us */

    .about-us {
        flex-direction: row;
    }

    .about-us__container {
        margin-right: 9.5rem;
    }

    .about-us__tag {
        text-align: left;
        font-size: 2rem;
    }

    .about-us__title {
        text-align: left;
        font-size: 2rem;
    }

    .about-us__text {
        text-align: left;
    }

    .about-us__image {
        margin-top: 0;
    }

    /* services */

    .services__tag {
        font-size: 2rem;
    }

    .services__title {
        font-size: 2rem;
    }

    .services__container {
        display: flex;
        align-items: baseline;
    }

    .services__itens {
        width: 100%;
    }

    /* information */

    .information__container {
        padding: 0;
    }

    .information {
        flex-direction: row;
    }

    .information__tag {
        font-size: 2rem;
    }

    .information__text {
        font-size: 2rem;
    }

    .informmation__image {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {

    /* geral */

    .about-us,
    .services,
    .information__container,
    .footer {
        margin-top: 15rem;
    }

    /* header */
    
    .header__logo {
        width: 18rem;
    }

    .header__button {
        width: 18.3rem;
        height: 4.5rem;
        font-size: 1.4rem;
    }

    /* presentation */

    .presentation__image {
        max-width: 42rem;
    }

    .presentation__title {
        text-align: left;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    
    .presentation__text {
        text-align: left;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    /* about-us */

    .about-us__container {
        margin-right: 15rem;
        
    }

    .about-us__tag {
        font-size: 2.3rem;
    }

    .about-us__title {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .about-us__image {
        max-width: 40rem;
    }

    /* servicos */

    .services__tag {
        font-size: 2.3rem;
    }

    .services__title {
        font-size: 2.5rem;
    }

    /* information */

    .information {
        margin-right: 1rem;
    }

    .information__tag {
        font-size: 2.3rem;
    }

    .information__text {
        font-size: 2rem;
    }

    .informmation__image {
        max-width: 43rem;
    }

    .information__button {
        width: 18rem;
        height: 4.5rem;
        font-size: 1.4rem;
    }
}

